<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    @RenderSection("PageScripts", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>body:</h2>
    <div>
        @RenderBody()
    </div>
</body>
</html>
