## ignore binaries
/proDev.Web/bin
/proDev.Web/obj
/proDev.EF/bin
/proDev.EF/obj
/proDev.Biz/bin
/proDev.Biz/obj

# ignore emacs back files
*~
\#*\#

#ignore .suo files
*.suo

#ignore user creation files, do not want public on GitHub
*_2_User.sql

#ignore config files, do not want public on GitHub
Web.config
App.config
Web.Debug.config
Web.Release.config

