@{
    ViewBag.Title = "Index";
}

    <b>Poly Summary:</b> 

    @foreach (var item in ViewBag.PolyList)
    {
        <p><code>@item</code></p>
    }

    <br>
    <b>Total Area:</b><p><code>@ViewBag.TotalArea</code></p>
