@{
    ViewBag.Title = "Index";
}

@section PageScripts{    

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script type="text/javascript">
        var map;
        var geoJSONFeatures = "";

        //Clear all features from JSON feature list and map
        function ClearMapFeatures() {
            geoJSONFeatures = "";
            map.data.forEach(function (feature) {
                map.data.remove(feature);
            });
        }

        //Add a feature to the JSON feature list
        function AddGeoJSONFeature(geoJSONGeometry) {

            if (geoJSONFeatures) geoJSONFeatures = geoJSONFeatures + ",";
            geoJSONFeatures = geoJSONFeatures + "{" +
              "\"type\": \"Feature\"," +
              "\"properties\": {" +
                  "\"letter\": \"G\"," +
                  "\"color\": \"blue\"," +
                  "\"rank\": \"7\"," +
                  "\"ascii\": \"71\"" +
              "}," +
              "\"geometry\":"
                  + geoJSONGeometry +
          "}";
        }

        //Use the JSON feature list to create the google map data layer
        function GetDataLayerGeoJSON() {
            return "{" +
            "\"type\": \"FeatureCollection\"," +
            "\"features\": [" +
              geoJSONFeatures +
            "]" +
            "}";
        }

        //Initialize the google map
        function InitializeMap() {
            map = new google.maps.Map(document.getElementById('map-canvas'), {
                zoom: 13,
                center: { lng: -119.305033, lat: 36.674222 }
            });
        }

        //Get parcel data from the web service
        function GetParcelData() {
            ClearMapFeatures();

            var parcelID = $("#parcelID").val();
            var distance = $("#distance").val();

            $.getJSON('WS/parcels/' + parcelID + '/adjacent?distance=' + distance, { get_param: 'value' }, function (data) {
                //Clear the summary
                $('#parcelSummary').html("");
                $.each(data, function (index, element) {
                    $('#parcelSummary')
                        .append('<p></p>')
                        .append($('<ul>', {
                            html: '<li><code><b>Name:</b> ' + element.Name + '</code></li>' +
                                '<li><code><b>Begin:</b> ' + element.BeginDate + '</code></li>' +
                                '<li><code><b>End:</b> ' + element.EndDate + '</code></li>' +
                                '<li><code><b>Area:</b> ' + element.Area + '</code></li>' +
                                '<li><code><b>GML:</b> ' + element.GML + '</code></li>' +
                                '<li><code><b>WKT:</b> ' + element.WKT + '</code></li>' +
                                '<li><code><b>GeoJSON:</b> ' + element.GeoJSON + '</code></li>'
                        }));

                    AddGeoJSONFeature(element.GeoJSON);
                });

                map.data.addGeoJson(JSON.parse(GetDataLayerGeoJSON()));

            });

        }

        $(document).ready(function () {
            google.maps.event.addDomListener(window, 'load', InitializeMap);

            $("#parcelButton").click(function () {
                GetParcelData();
            });

            $("#accordion").accordion({
                collapsible: true,
                active: false
            });
        });


    </script>
}

<div id="map-canvas" style="height:500px;width:500px"></div>

<br>

<div class="ui-widget" style="font-size:small">
  <label for="parcelID">Parcel ID: </label>
  <input value="2708" id="parcelID">

  <label for="distance">Distance: </label>
  <input value="100" id="distance">
</div>

<p>
<button id="parcelButton" type="button">Get Parcels</button>
</p>

<div id="accordion" style="font-size:x-small;width:500px">
  <h3>Parcel Summary</h3>
  <div id="parcelSummary">
  </div>

  <h3>Parcel Summary Test</h3>
  <div id="parcelSummaryTest">
    @foreach (var item in ViewBag.PolyList)
    {
        <p><code>@item</code></p>        
    }
    <br>
    <b>Total Area:</b><p><code>@ViewBag.TotalArea</code></p>
  </div>
</div>



