@{
    ViewBag.Title = "Index";
}

@section PageScripts{    

    <script type="text/javascript">

        $(document).ready(function () {
            $("#parcelButton").click(function () {
                GetParcelData();
            });
        });

        function GetParcelData() {
            $.getJSON('WS/Parcel', { get_param: 'value' }, function (data) {
                $.each(data, function (index, element) {
                    $('body')
                        .append('<p></p>')
                        .append($('<ul>', {
                            html: '<li><code><b>Name:</b> ' + element.Name + '</code></li>' +
                                '<li><code><b>Begin:</b> ' + element.BeginDate + '</code></li>' +
                                '<li><code><b>End:</b> ' + element.EndDate + '</code></li>' +
                                '<li><code><b>Area:</b> ' + element.Area + '</code></li>' +
                                '<li><code><b>GML:</b> ' + element.GML + '</code></li>' +
                                '<li><code><b>WKT:</b> ' + element.WKT + '</code></li>'
                            }));
                });
            });
        }

    </script>
}

    <b>Entity Summary:</b> 

    @foreach (var item in ViewBag.PolyList)
    {
        <p><code>@item</code></p>        
    }

    <br>
    <b>Total Area:</b><p><code>@ViewBag.TotalArea</code></p>


    <button id="parcelButton" type="button">Get Parcels</button>
